{% extends 'partials/base.html' %}{% load static %} {% block content %}

<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
  <!-- breadcrumb -->
  <div class="bg-gray-13 bg-md-transparent">
    <div class="container">
      <!-- breadcrumb -->
      <div class="my-md-3">
        <nav aria-label="breadcrumb">
          <ol
            class="breadcrumb mb-3 flex-nowrap flex-xl-wrap overflow-auto overflow-xl-visble"
          >
            <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1">Home</li>

            <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1">
              <a href="">{{product.category.title}}</a>
            </li>
            <li
              class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1 active"
              aria-current="page"
            >
              {{product.title}}
            </li>
          </ol>
        </nav>
      </div>
      <!-- End breadcrumb -->
    </div>
  </div>
  <!-- End breadcrumb -->

  <div class="container">
    <!-- Single Product Body -->
    <div class="mb-14">
      <div class="row">
        <div class="col-md-6 col-lg-4 col-xl-5 mb-4 mb-md-0">
          <div
            id="sliderSyncingNav"
            class="js-slick-carousel u-slick mb-2"
            data-infinite="true"
            data-arrows-classes="d-none d-lg-inline-block u-slick__arrow-classic u-slick__arrow-centered--y rounded-circle"
            data-arrow-left-classes="fas fa-arrow-left u-slick__arrow-classic-inner u-slick__arrow-classic-inner--left ml-lg-2 ml-xl-4"
            data-arrow-right-classes="fas fa-arrow-right u-slick__arrow-classic-inner u-slick__arrow-classic-inner--right mr-lg-2 mr-xl-4"
            data-nav-for="#sliderSyncingThumb"
          >
            <div class="js-slide">
              <img
                class="img-fluid"
                src="{% static product.image.url %}"
                alt="Image Description"
              />
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-4 mb-md-6 mb-lg-0">
          <div class="mb-2">
            <a href="#" class="font-size-12 text-gray-5 mb-2 d-inline-block"
              >{{product.category.title}}</a
            >
            <h2 class="font-size-25 text-lh-1dot2">{{product.title}}</h2>
            <div class="mb-2">
              <ul class="font-size-14 pl-3 ml-1 text-gray-110">
                <li>{{product.description}}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="mx-md-auto mx-lg-0 col-md-6 col-lg-4 col-xl-3">
          <div class="mb-2">
            <div
              class="card p-5 border-width-2 border-color-1 borders-radius-17"
            >
              <div
                class="text-gray-9 font-size-14 pb-2 border-color-1 border-bottom mb-3"
              >
                Availability:
                <span class="text-green font-weight-bold">{{p.in_stock}}</span>
              </div>
              <div class="mb-3">
                <div class="font-size-36">${{product.price}}</div>
              </div>
              <div class="mb-3">
                <h6 class="font-size-14">{{p.stock_count}}</h6>
                <!-- Quantity -->
                <div
                  class="border rounded-pill py-1 w-md-60 height-35 px-3 border-color-1"
                >
                  <div class="js-quantity row align-items-center">
                    <div class="col">
                      <input
                        class="js-result form-control h-auto border-0 rounded p-0 shadow-none"
                        type="text"
                        value="1"
                      />
                    </div>
                    <div class="col-auto pr-1">
                      <a
                        class="js-minus btn btn-icon btn-xs btn-outline-secondary rounded-circle border-0"
                        href="javascript:;"
                      >
                        <small class="fas fa-minus btn-icon__inner"></small>
                      </a>
                      <a
                        class="js-plus btn btn-icon btn-xs btn-outline-secondary rounded-circle border-0"
                        href="javascript:;"
                      >
                        <small class="fas fa-plus btn-icon__inner"></small>
                      </a>
                    </div>
                  </div>
                </div>
                <!-- End Quantity -->
              </div>

              <div class="mb-2 pb-0dot5">
                <a href="#" class="btn btn-block btn-primary-dark"
                  ><i class="ec ec-add-to-cart mr-2 font-size-20"></i> Add to
                  Cart</a
                >
              </div>
              <div class="mb-3">
                <a href="#" class="btn btn-block btn-dark">Buy Now</a>
              </div>
              <div class="flex-content-center flex-wrap">
                <a href="#" class="text-gray-6 font-size-13 mr-2"
                  ><i class="ec ec-favorites mr-1 font-size-15"></i> Wishlist</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Single Product Body -->
  </div>
</main>
<!-- ========== END MAIN CONTENT ========== -->
{% endblock content %}
